<div class="container">
 

        <div class=" ">
            <div class="offset-md-4 col-md-4">
            <div>
                <h2 class= "h2 center">Advanced Search for Locker</h2>
            </div>

                <form method="POST" autocomplete="off">
                   

                    <div class="row1 form-group" >
                        <label class = "h5 m-2 font-weight-bold" for="name">Name</label>
                        <input type="text" class="form-control"
                        name="name" placeholder=""
                        id="name" autofocus>
                    </div>

                    <div class="row1 form-group" >
                        <label class = "h5 m-2 font-weight-bold" for="location">Location</label>
                        <input type="text" class="form-control"
                        name="location" placeholder=""
                        id="location" autofocus>
                    </div>

                       <!-- <label class = "h5 m-2 font-weight-bold" for="price">Price</label>
                        <input type="number" class="form-control"
                        name="price" placeholder=""
                        id="price" autofocus> -->

                    <div class="row1 form-group" >
                        <label class = "h5 m-2 font-weight-bold" for="size">Size</label>
                        <input type="text" class="form-control"
                        name="size" placeholder=""
                        id="size" autofocus>
                    </div>
                   
                    <div class="row m-2 center">
                        <button class="m-3 btn btn-primary btn-lg btn-block " type="submit">Search Locker</button>
                    </div>
    
                </form>
            </div> 
        </div>
    

    

        <div class="container m-2 center">
            <h1>Featured Lockers</h1>
            <span class="m-2" >
                <figure  class="figure m-2">
                    <img  width="350" src="images/locker1.jpg" class="img-fluid rounded" alt="locker">
                    <figcaption class="h5 m-3">Jameson lockers, Toronto</figcaption>
                </figure>
            </span>
    
            <span class="m-2 " >
                <figure class="figure m-2">
                    <img  width="350" src="images/locker2.jpg" class=" img-fluid rounded" alt="locker">
                    <figcaption class="h5 m-3">Lagos lockers, Brampton</figcaption>
                </figure>
            </span>
    
            <span class="m-2" >
                <figure class="figure m-2">
                    <img  width="350" src="images/locker3.jpg" class="img-fluid rounded" alt="locker">
                    <figcaption class="h5 m-3">Delta lockers, Brampton</figcaption>
                </figure>
            </span>
    
        </div>
</div>