<div class="container center">
 

        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h1>Advanced Search for Locker</h1>
                <form method="POST" autocomplete="off">
                    <fieldset class= "form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control"
                        name="name" placeholder=""
                        id="name" autofocus>

                        <label for="location">Location</label>
                        <input type="text" class="form-control"
                        name="location" placeholder=""
                        id="location" autofocus>

                        <!-- <label for="price">Search</label>
                        <input type="number" class="form-control"
                        name="price" placeholder=""
                        id="price" required autofocus> -->

                        <label for="size">Size</label>
                        <input type="text" class="form-control"
                        name="size" placeholder=""
                        id="size" autofocus>
                    </fieldset>
    
                    
    
                    <fieldset class= "form-group text-right">
                        <input type="submit" class="btn btn-success" value="Search Locker">
                        
                    </fieldset>
    
                </form>
            </div> 
        </div>
    

    

    <div class="row1">
        <figure  class="figure">
            <img  height="295"width="400" src="images/locker1.png" class="figure-img img-fluid rounded" alt="locker">
            <figcaption class="figure-caption">Jameson lockers, Toronto</figcaption>
        </figure>
        <figure class="figure">
            <img  height="295"width="400" src="images/locker2.jpg" class=" img-fluid rounded" alt="locker">
            <figcaption class="figure-caption">Lagos lockers, Brampton</figcaption>
        </figure>
        <figure class="figure">
            <img  height="295"width="400" src="images/locker3.jpg" class="figure-img img-fluid rounded" alt="locker">
            <figcaption class="figure-caption">Delta lockers, Brampton</figcaption>
        </figure>
    </div>
</div>