<div class="container center">
 

        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h1>Search for a Locker</h1>
                <form method="POST" autocomplete="off">
                    <fieldset class= "form-group">
                        
                        <input type="text" class="form-control"
                        name="search" placeholder="Enter Locker Location"
                        id="Locker Location" required autofocus>
    
                        
                    </fieldset>
    
                    
    
                    <fieldset class= "form-group text-right">
                        <input type="submit" class="btn btn-success" value="Search Locker">
                        <a href="/advancedSearch">Advance Search</a>
                    </fieldset>
    
                </form>
            </div> 
        </div>
    

    

        <div class="container m-2 center">
            <h1>Featured Lockers</h1>
            <span class="m-2" >
                <figure  class="figure m-2">
                    <img  width="350" src="images/locker1.jpg" class="img-fluid rounded" alt="locker">
                    <figcaption class="h5 m-3">Jameson lockers, Toronto</figcaption>
                </figure>
            </span>
    
            <span class="m-2 " >
                <figure class="figure m-2">
                    <img  width="350" src="images/locker2.jpg" class=" img-fluid rounded" alt="locker">
                    <figcaption class="h5 m-3">Lagos lockers, Brampton</figcaption>
                </figure>
            </span>
    
            <span class="m-2" >
                <figure class="figure m-2">
                    <img  width="350" src="images/locker3.jpg" class="img-fluid rounded" alt="locker">
                    <figcaption class="h5 m-3">Delta lockers, Brampton</figcaption>
                </figure>
            </span>
    
        </div>
</div>