<div class="container center">
 

        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h1>Search for Locker</h1>
                <form method="POST" autocomplete="off">
                    <fieldset class= "form-group">
                        <label for="Locker Location">Search</label>
                        <input type="text" class="form-control"
                        name="Locker Location" placeholder="Enter Locker Location"
                        id="Locker Location" required autofocus>
    
                        <a href="/advanceSearch">Advance Search</a>
                    </fieldset>

                    
    
                        <fieldset class= "form-group text-right">
                        <a href="/resultScreen">
                        <input type="button" class="btn btn-success" value="Search Locker">
                        </a>

                        <a href="/">
                            <input type="button" class="btn btn-warning" value="Cancel">
                        </a>
                    </fieldset>
    
                </form>
            </div> 
        </div>
    

    

    <div class="row1">
        <figure  class="figure">
            <img  height="295"width="400" src="images/locker1.png" class="figure-img img-fluid rounded" alt="locker">
            <figcaption class="figure-caption">Jameson lockers, Toronto</figcaption>
        </figure>
        <figure class="figure">
            <img  height="295"width="400" src="images/locker2.jpg" class=" img-fluid rounded" alt="locker">
            <figcaption class="figure-caption">Lagos lockers, Brampton</figcaption>
        </figure>
        <figure class="figure">
            <img  height="295"width="400" src="images/locker3.jpg" class="figure-img img-fluid rounded" alt="locker">
            <figcaption class="figure-caption">Delta lockers, Brampton</figcaption>
        </figure>
    </div>
</div>