
<div class="container center">
    <div class="card">
        <h2 class="card-header" style="text-align: left; padding: 20px ;">Please Login</h2>
        <div class="card-body">
            <form action="" method="">
                <div class="mb-3">
                    <label for="username" class="form-label" style="float: left; font-weight: bold;">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="float: left; font-weight: bold;">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password"><br>
                    <p style="float: left; "> or <a href="/register" >Register Here</a></p>
                </div><br>
                <div class="mb-3" style="float: right;">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/" class="btn btn-warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>
      
</div>