.center {
	text-align: center;
}

.right-side-container {
    border-radius: 90px;
   
}

#float {
	
    position: absolute;
	width: 100px;
	height: 80px;
	right: 0px;
	top: 0px;

}

#ab {
	
    position: relative;
}


